# deps
node_modules
.pnpm-store

# build output
dist
.next
out
.turbo

# typescript / next generated
*.tsbuildinfo
next-env.d.ts

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local

# OS / editor
.DS_Store
Thumbs.db
.idea
*.swp
